@media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header nav {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
  
    header nav a {
      margin: 10px 0;
    }
}

header {
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
  
.logo img{
    height: 130px;
    width: 130px;
    margin-right: 10px;
    border-radius: 50%;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
}

header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

nav a{
    margin: 0 10px;
    font-size: 16px;
    color: rgb(212,148,148);
    text-transform: uppercase;

}
nav a:hover{
    color: #E5E5E5;
}

a{
    color: #9F354E;
    text-decoration: none;
}
  
a:hover{
    color: #B86274;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    color: #9F354E;
    margin-bottom: 20px;
}

h4{
    font-size: 20px;
    font-weight: bold;
    color: #9F354E;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button{
    background-color: #9F354E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #B86274;
}

.recipe-box{
    display:inline-block ;
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
}

.bottom-box{
    position: absolute !important;
    bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.recipe-box a{
    display: block;
    text-decoration: none;
    color: #333;
}
  
.recipe-box img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
  
.recipe-box h4{
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}
  
.recipe-box p{
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: rgb(106,89,88);
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


input[type="submit"] {
    padding: 10px;
    background-color: #9F354E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

/* .heart{
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
}

.heart:hover,
.heart.active{
    color: #f50909;
} */
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
  
#main-nav .nav-links {
    display: flex;
    gap: 20px;
}
  
#main-nav .search-form {
    display: flex;
    gap: 20px;
    font-size: 12px;
    margin-left: auto;
}
  
#main-nav .search-form input[type="text"]{
    padding: 5px;
    border: none;
    background-color: #f2f2f2;
    width: 250px;
}
  
#main-nav .search-form button {
    padding: 5px;
    border: none;
    background-color: #f2f2f2;
}

#main-nav .search-form button {
    background-color: #ddd;
    cursor: pointer;
}
  
#main-nav .search-form input[type="text"]:focus,
#main-nav .search-form button:focus {
    outline: none;
}

.recipe-details-container{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #6a5958, 0 6px 20px 0 #6a5958;
    background-color: #F5F5F5;
    border: 1px solid  #9F354E;
    color: #39373d;
}

.recipe-details-description{
    font-size: 16px;
}

.error{
    font-size: 14px;
    font-style: italic;
}

.dietary_categories{
    display: flex;
    justify-content: center;
}
  
.dietary_categories p{
    margin: 0 5px;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
  
.df{
    background-color: #83b5d1;
}
  
.gf{
    background-color: #726e97;
}

.lc{
    background-color: #7f557d;
}

.ns{
    background-color: #C4B965;
}

.nf{
    background-color: #e8b9ab;
}

.v{
    background-color: #adbca5;
}
.veg{
    background-color: #607F6E;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px; 
}
  

.dropbtn {
    background-color: transparent;
    color: rgb(212, 148, 148);
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F5F5F5;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

 
.dropdown-content a {
    color: rgb(212, 148, 148);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.dropbtn::before{
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color:rgb(212, 148, 148) ;
    margin-bottom: 3px;
}
  

.dropdown-content a:hover {
    pointer-events: painted;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-content {
      display: none;
    }
  }
  

/* #dietary-guide-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
  
#dietary-guide-nav .nav-links {
    display: flex;
    gap: 20px;
} */