@media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header nav {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
  
    header nav a {
      margin: 10px 0;
    }
}

header {
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
}

#recipeposts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav a{
    margin: 0 10px;
    font-size: 16px;
    color: rgb(212,148,148);
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav a:hover{
    color: #E5E5E5;
}

a{
    color: #9F354E;
    text-decoration: none;
}
  
a:hover{
    color: #B86274;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    color: #9F354E;
    margin-bottom: 20px;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: #9F354E;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button{
    background-color: #9F354E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #B86274;
}

