{% extends "layout.html" %}

{% block title %}Edit Recipe{% endblock %}

{% block main %}
<form action="/updated-recipe/{{id}}" method="post" enctype="multipart/form-data">
    <label for="title">Recipe Title:</label>
    <input type="text" id="title" name="title" value="{{ title }}" required>
  
    <label for="description">Description:</label>
    <textarea id="description" name="description">{{ description }}</textarea>
    
  
      <label for="image_url">Current Image:</label>
      <img src="{{ image_url}}" style="width: 100px;" alt="recipe photo">
      <br>
   
   

    <br><br>
    <label for="course">Course:</label>
    <select id="course" name="course">
      <option value="appetizers" {% if course == 'appetizers' %}selected{% endif %}>Appetizers</option>
      <option value="beverages" {% if course == 'beverages' %}selected{% endif %}>Beverages</option>
      <option value="breadsnmuffins"{% if course == 'breadsnmuffins' %}selected{% endif %}>Breads & Muffins</option>
      <option value="breakfast" {% if course == 'breakfast' %}selected{% endif %}>Breakfast</option>
      <option value="dessert" {% if course == 'dessert' %}selected{% endif %}>Dessert</option>
      <option value="entrees" {% if course == 'entrees' %}selected{% endif %}>Entrees</option>
      <option value="main" {% if course == 'main' %}selected{% endif %}>Main</option>
      <option value="salads" {% if course == 'salads' %}selected{% endif %}>Salads</option>
      <option value="sauces-seasoning" {% if course == 'sauces-seasoning' %}selected{% endif %}>Sauces & Seasoning</option>
      <option value="side-dishes" {% if course == 'side-dishes' %}selected{% endif %}>Side Dishes</option>
      <option value="smoothies" {% if course == 'smoothies' %}selected{% endif %}>Smoothies</option>
      <option value="soups" {% if course == 'soups' %}selected{% endif %}>Soups</option>
    </select>
  
    

    <h2>Ingredients:</h2>
  
    <div id="ingredients-container" class="ingredient">
      {% for ingredient in ingredients %}
      <label for="ingredient_name_{{ loop.index }}">Ingredient {{ loop.index }}:</label>
      <input type="text" id="ingredient_name_{{ loop.index }}" name="ingredient_name[]" value="{{ ingredient }}" required>
      {% endfor %}
    </div>
  
    <button id="add_ingredient">Add Ingredient</button>
  
    <h2>Instructions:</h2>
  
    <div id="steps-container">
      {% for instruction in instructions %}
      <div class="step">
        <label>Step {{ loop.index }}:</label>
        <textarea id="step_instruction_{{ loop.index }}" name="step_instruction[]" required>{{ instruction }}</textarea>
      </div>
      {% endfor %}
    </div>
  
    <button id="add_step">Add Step</button>
    <!-- <br>
    <br>
    <h3>Dietary Categories:</h3>

    {% for category in dietary_categories %}
    <label for="{{ category.name }}">{{ category.name }}</label>
    <input type="checkbox" id="{{ category.name }}" name="dietary_category[]" value="{{ category.name }}">
    {% endfor %} -->

  <br>
  <br>
  <label for="dairy_free">Dairy Free:</label>
  <input type="checkbox" id="dairy_free_checkbox" name="dairy_free">
  <input type="hidden" id="dairy_free_hidden" name="dairy_free" value="off">
  
  
  <label for="gluten_free">Gluten Free:</label>
  <input type="checkbox" id="gluten_free_checkbox" name="gluten_free">
  <input type="hidden" id="gluten_free_hidden" name="gluten_free" value="off">
  
  <label for="low_carb">Low Carb:</label>
  <input type="checkbox" id="low_carb_checkbox" name="low_carb">
  <input type="hidden" id="low_carb_hidden" name="low_carb" value="off">
  
  <label for="no_added_sugar">No Added Sugar:</label>
  <input type="checkbox" id="no_added_sugar_checkbox" name="no_added_sugar">
  <input type="hidden" id="no_added_sugar_hidden" name="no_added_sugar" value="off">
  
  <label for="nut_free">Nut Free:</label>
  <input type="checkbox" id="nut_free_checkbox" name="nut_free">
  <input type="hidden" id="nut_free_hidden" name="nut_free" value="off">
  
  <label for="vegan">Vegan:</label>
  <input type="checkbox" id="vegan_checkbox" name="vegan">
  <input type="hidden" id="vegan_hidden" name="vegan" value="off">
  
  <label for="vegetarian">Vegetarian:</label>
  <input type="checkbox" id="vegetarian_checkbox" name="vegetarian">
  <input type="hidden" id="vegetarian_hidden" name="vegetarian" value="off">
  <br><br>
  
    <input type="submit" value="Save Recipe">
  </form>
{% endblock %}
