{% extends "layout.html" %}

{% block title %}Edit Recipe{% endblock %}

{% block main %}
<form action="/updated-recipe/{{id}}" method="post">
    <label for="title">Recipe Title:</label>
    <input type="text" id="title" name="title" value="{{ title }}" required>
  
    <label for="description">Description:</label>
    <textarea id="description" name="description">{{ description }}</textarea>
  
    <label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="image_url" value="{{ image_url }}">
  
    <select id="course" name="course">
      <option value="appetizers" {% if course == 'appetizers' %}selected{% endif %}>Appetizers</option>
      <option value="beverages" {% if course == 'beverages' %}selected{% endif %}>Beverages</option>
      <option value="breadsnmuffins"{% if course == 'breadsnmuffins' %}selected{% endif %}>Breads & Muffins</option>
      <option value="breakfast" {% if course == 'breakfast' %}selected{% endif %}>Breakfast</option>
      <option value="dessert" {% if course == 'dessert' %}selected{% endif %}>Dessert</option>
      <option value="entrees" {% if course == 'entrees' %}selected{% endif %}>Entrees</option>
      <option value="main" {% if course == 'main' %}selected{% endif %}>Main</option>
      <option value="salads" {% if course == 'salads' %}selected{% endif %}>Salads</option>
      <option value="sauces-seasoning" {% if course == 'sauces-seasoning' %}selected{% endif %}>Sauces & Seasoning</option>
      <option value="side-dishes" {% if course == 'side-dishes' %}selected{% endif %}>Side Dishes</option>
      <option value="smoothies" {% if course == 'smoothies' %}selected{% endif %}>Smoothies</option>
      <option value="soups" {% if course == 'soups' %}selected{% endif %}>Soups</option>
    </select>
  
    

    <h2>Ingredients:</h2>
  
    <div id="ingredients-container" class="ingredient">
      {% for ingredient in ingredients %}
      <label for="ingredient_name_{{ loop.index }}">Ingredient {{ loop.index }}:</label>
      <input type="text" id="ingredient_name_{{ loop.index }}" name="ingredient_name[]" value="{{ ingredient }}" required>
      {% endfor %}
    </div>
  
    <button id="add_ingredient">Add Ingredient</button>
  
    <h2>Instructions:</h2>
  
    <div id="steps-container">
      {% for instruction in instructions %}
      <div class="step">
        <label>Step {{ loop.index }}:</label>
        <textarea id="step_instruction_{{ loop.index }}" name="step_instruction[]" required>{{ instruction }}</textarea>
      </div>
      {% endfor %}
    </div>
  
    <button id="add_step">Add Step</button>
    <br>
    <br>
  
    <input type="submit" value="Save Recipe">
  </form>
{% endblock %}
