{% extends "layout.html" %}

{% block title%}
Recipes
{% endblock title %}

{% block main %}
<section id="recipeposts">
    {% for recipe in recipes %}
    <div class="recipe-box">
        <a href="/recipe/{{ recipe.id }}" style="text-decoration: none;">
        <img style="width: 200px; height: 300px;" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
        <h4>{{ recipe.title }}</h4>
        <div class="dietary_categories">
            {% if recipe.dairy_free %}
            <p class="df">DF</p>
            {% endif %}
            {% if recipe.gluten_free %}
            <p class="gf">GF</p>
            {% endif %}
            {% if recipe.low_carb %}
            <p class="lc">LC</p>
            {% endif %}
            {% if recipe.no_added_sugar %}
            <p class="ns">NS</p>
            {% endif %}
            {% if recipe.nut_free %}
            <p class="nf">NF</p>
            {% endif %}
            {% if recipe.vegan %}
            <p class="v">V</p>
            {% endif %}
            {% if recipe.vegetarian %}
            <p
            class="veg">VEG</p>
            {% endif %}
          </div>
        </a>
    </div>
        {% endfor %}
        <br><br><br><br><br>
        <section id="dietary-summary">
            <div class="dietary-summary-box">
              <p class="df">DF</p>
              <span>Dairy-Free</span>
            </div>
            <div class="dietary-summary-box">
              <p class="gf">GF</p>
              <span>Gluten-Free</span>
            </div>
            <div class="dietary-summary-box">
              <p class="lc">LC</p>
              <span>Low Carb</span>
            </div>
            <div class="dietary-summary-box">
              <p class="ns">NS</p>
              <span>No Added Sugar</span>
            </div>
            <div class="dietary-summary-box">
              <p class="nf">NF</p>
              <span>Nut-Free</span>
            </div>
            <div class="dietary-summary-box">
              <p class="v">V</p>
              <span>Vegan</span>
            </div>
            <div class="dietary-summary-box">
              <p class="veg">VEG</p>
              <span>Vegetarian</span>
            </div>
          </section>
          
{% endblock main %}





