<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Re-cipes - {% block title%} {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap" rel="stylesheet">
        <script src="/static/js/script.js"></script>
    </head>
    <body>
        <header class="logo">
            <a href="/">
                <img src="/static/images/logo.jpg" alt="Re-cipes Logo">
            </a>
    
        
        <nav>
         
            <a href="/new-recipe">Post Your Own Recipe</a>
            {% if session.get('user_id') %}
            <a href="/my-recipes">My Recipes</a>
            {% endif %}
            {% if not session.get('user_id') %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a></div>
            {% endif %}
            {% if session.get('user_id') %}
            <form action="/logout" method="post">
                <span>Welcome {{ session['user_name'] }}! </span> 
                <button type="submit">Logout</button>
            </form>
            {% endif %}
            
        </nav>
        </header>

        <nav id="main-nav">
            <div class="nav-links">
                <a href="/course/appetizers">Appetizers</a>
              <a href="/course/breadsnmuffins">Bread & Muffins</a>
              <a href="/course/dessert">Desserts</a>
              <a href="/course/main">Main</a>
              <a href="/course/soups">Soups</a>
            </div>
          
            <div class="search-form">
              <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search for recipes...">
                <button type="submit">Search</button>
              </form>
            </div>
          </nav>
        <main>
            {% block main%} {% endblock main %}
        </main>
        
    </body>
</html>

