{% extends "layout.html" %}

{% block title %}
    My Recipes
{% endblock title %}

{% block main %}
    <h1>My Recipes</h1>

    {% if user_recipes %}
        <ul>
        {% for recipe in user_recipes %}
        
        <a href="/recipe/{{ recipe.id }}">
        <h4>{{ recipe.title }}</h4>
        <img style="width: 200px; height: auto;" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
        </a>
        <form action="/edit-recipe/{{ recipe.id }}" method="get">
        <input type="submit" value="Update">
        </form>
        <form action="/delete-recipe/{{ recipe.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete {{ recipe.title }}?')">
        <input type="submit" value="Delete">
        </form>

        {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any recipes yet.<a href="/new-recipe">You can share here!</a></p>
    {% endif %}
{% endblock main %}



  