{% extends "layout.html" %}

{% block title%} 
    Recipes
{% endblock title %}

{% block main%} 

<form action="/new-recipe" method="post" enctype="multipart/form-data">
  <label for="title">Recipe Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea>

  <label for="image_url">Upload your recipe photo here:</label>
  <p>
    <input type="file" name="image" />
  </p>

  <label for="course">Course:</label>
  <select id="course" name="course">
      <option value="appetizers">Appetizers</option>
      <option value="beverages">Beverages</option>
      <option value="breadsnmuffins">Breads & Muffins</option>
      <option value="breakfast">Breakfast</option>
      <option value="dessert">Dessert</option>
      <option value="entrees">Entrees</option>
      <option value="main">Main</option>
      <option value="salads">Salads</option>
      <option value="sauces-seasoning">Sauces & Seasoning</option>
      <option value="sidedishes">Side Dishes</option>
      <option value="smoothies">Smoothies</option>
      <option value="soups">Soups</option>
  </select><br>

  <h3>Ingredients:</h3>

  <div id="ingredients-container" class="ingredient">

    <label for="ingredient_name_1">Ingredient 1:</label>
    <input type="text" id="ingredient_name_1" name="ingredient_name[]" required>
  </div>

  <button id="add_ingredient">Add Ingredient</button>

  <h3>Instructions:</h3>

<div id="steps-container" class="step">
    <label>Step 1:</label>
    <textarea id="step_instruction_1" name="step_instruction[]" required></textarea>
  
</div>

<button id="add_step">Add Step</button>
  <br>
  <br>

  <input type="submit" value="Save Recipe">
</form>


  {% endblock main %}