{% extends "layout.html" %}

{% block title%} 
    Recipes
{% endblock title %}

{% block main%} 

<form action="/new-recipe" method="post" enctype="multipart/form-data">
  <label for="title">Recipe Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea>

  <label for="image_url">Upload your recipe photo here:</label>
  <p>
    <input type="file" name="image" required/>
  </p>

  <label for="course">Course:</label>
  <select id="course" name="course">
      <option value="appetizers">Appetizers</option>
      <option value="beverages">Beverages</option>
      <option value="breadsnmuffins">Breads & Muffins</option>
      <option value="breakfast">Breakfast</option>
      <option value="dessert">Dessert</option>
      <option value="entrees">Entrees</option>
      <option value="main">Main</option>
      <option value="salads">Salads</option>
      <option value="sauces-seasoning">Sauces & Seasoning</option>
      <option value="sidedishes">Side Dishes</option>
      <option value="smoothies">Smoothies</option>
      <option value="soups">Soups</option>
  </select><br>

  <h3>Ingredients:</h3>

  <div id="ingredients-container" class="ingredient">

    <label for="ingredient_name_1">Ingredient 1:</label>
    <input type="text" id="ingredient_name_1" name="ingredient_name[]" required>

  </div>

  <button id="add_ingredient">Add Ingredient</button>

  <h3>Instructions:</h3>

<div id="steps-container" class="step">
    <label>Step 1:</label>
    <input type="text" id="step_instruction_1" name="step_instruction[]" required></textarea>
    
</div>

<button id="add_step">Add Step</button>
<br>
<br>

<label for="dairy_free">Dairy Free:</label>
<input type="checkbox" id="dairy_free_checkbox" name="dairy_free">
<input type="hidden" id="dairy_free_hidden" name="dairy_free" value="off">


<label for="gluten_free">Gluten Free:</label>
<input type="checkbox" id="gluten_free_checkbox" name="gluten_free">
<input type="hidden" id="gluten_free_hidden" name="gluten_free" value="off">

<label for="low_carb">Low Carb:</label>
<input type="checkbox" id="low_carb_checkbox" name="low_carb">
<input type="hidden" id="low_carb_hidden" name="low_carb" value="off">

<label for="no_added_sugar">No Added Sugar:</label>
<input type="checkbox" id="no_added_sugar_checkbox" name="no_added_sugar">
<input type="hidden" id="no_added_sugar_hidden" name="no_added_sugar" value="off">

<label for="nut_free">Nut Free:</label>
<input type="checkbox" id="nut_free_checkbox" name="nut_free">
<input type="hidden" id="nut_free_hidden" name="nut_free" value="off">

<label for="vegan">Vegan:</label>
<input type="checkbox" id="vegan_checkbox" name="vegan">
<input type="hidden" id="vegan_hidden" name="vegan" value="off">

<label for="vegetarian">Vegetarian:</label>
<input type="checkbox" id="vegetarian_checkbox" name="vegetarian">
<input type="hidden" id="vegetarian_hidden" name="vegetarian" value="off">

  <br>
  <br>
  <input type="submit" value="Save Recipe">
</form>


  {% endblock main %}