<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Re-cipes - {% block title%} {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap" rel="stylesheet">
        
    </head>
        <header class="logo">
            <a href="/">
                <img src="/static/images/logo.jpg" alt="Re-cipes Logo">
            </a>
    
        
        <nav>
         
            <a href="/new-recipe">Post Your Own Recipe</a>
            {% if session.get('user_id') %}
            <a href="/my-recipes">My Recipes</a>
            {% endif %}
            {% if not session.get('user_id') %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a></div>
            {% endif %}
            {% if session.get('user_id') %}
            <form action="/logout" method="post">
                <span>Welcome {{ session['user_name'] }}! </span> 
                <button type="submit">Logout</button>
            </form>
            {% endif %}
            

        </nav>
        </header>

          
        <main>
        <h2>My Recipes</h2>

        <div class="my-search-form">
            <form action="/my-recipes-search" method="GET">
              <input type="text" name="query" placeholder="What are you looking for {{ session['user_name'] }}?">
              <button type="submit">Search</button>
            </form>
          </div>
        </nav>
        {% for recipe in recipes %}
        <div class="recipe-box">
            <a href="/recipe/{{ recipe.id }}">
            <img style="width: 200px; height: 300px;" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
            <h4>{{ recipe.title }}</h4>
            </a>
        <div class="bottom-box">
            <form action="/edit-recipe/{{ recipe.id }}" method="get" style="display: inline-block">
                <input type="submit" value="Update">
            </form>
            <form action="/delete-recipe/{{ recipe.id }}" method="post" style="display: inline-block" onsubmit="return confirm('Are you sure you want to delete {{ recipe.title }}?')">
                <input type="submit" value="Delete">
            </form>
        </div>
        </div>
        {% endfor %}

        </main>
        <script src="/static/js/script.js"></script>
    </body>
</html>






  