{% extends "layout.html" %}



{% block title %}
{{ recipe.title }}
{% endblock title %}

{% block main %}
<article>
    <img style="width: 320px" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
    <h3>{{ recipe.title }}</h3>
    <p>{{ recipe.description }}</p>

    <h5>Ingredients:</h5>
    <ul>
      {% for ingredient in recipe.ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <h5>Instructions:</h5>
    <ol>
      {% for instruction in recipe.instructions %}
      <li>{{ instruction }}</li>
      {% endfor %}
    </ol>
  </article>

  <form action="/delete-recipe/{{ recipe.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete {{ recipe.title }}?')">
    <input type="submit" value="Delete">
</form>
  
{% endblock main %}
