{% extends "layout.html" %}



{% block title %}
{{ recipe.title }}
{% endblock title %}

{% block main %}
<div class="recipe-details-container">
    <h4>{{ recipe.title }}</h4>
    <img style="width: 200px" height="300px" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
    
    <p class="recipe-details-description">{{ recipe.description }}</p>
  
    <!-- <div class="dietary_categories">
      {% if recipe.dairy_free %}
      <p class="df">DF</p>
      {% endif %}
      {% if recipe.gluten_free %}
      <p class="gf">GF</p>
      {% endif %}
      {% if recipe.low_carb %}
      <p class="lc">LC</p>
      {% endif %}
      {% if recipe.no_added_sugar %}
      <p class="ns">NS</p>
      {% endif %}
      {% if recipe.nut_free %}
      <p class="nf">NF</p>
      {% endif %}
      {% if recipe.vegan %}
      <p class="v">V</p>
      {% endif %}
      {% if recipe.vegetarian %}
      <p
      class="veg">VEG</p>
      {% endif %}
      </div>
       -->
    <h5>Ingredients:</h5>
    <ul>
      {% for ingredient in recipe.ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <h5>Instructions:</h5>
    <ol>
      {% for instruction in recipe.instructions %}
      <li>{{ instruction }}</li>
      {% endfor %}
    </ol>

    <!-- <form action="/add-favorite" method="post" style="display: inline-block">
      <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
      <input type="submit" value="Add to Favorites">
  </form> -->
  </div>

{% endblock main %}
