{% extends "layout.html" %}

{% block title %}
Signup
{% endblock title %}

{% block main %}
<form action="/signup" method="POST">
    <label for="name">Name</label>
    <input placeholder="Your Name" name="name" type="text" required >

    <label for="email">Email</label>
    <input placeholder="E-mail" name="email" type="text" required>

    <label for="password">Password</label>
    <input placeholder="password" name="password" type="password" required>

    <br><br>
    <label for="confirm_password">Confirm Password</label>
    <input placeholder="confirm password" name="confirm_password" type="password" required>

    {% if message %}
    <p class="error">{{ message }}</p>
    {% endif %}


    <button type="submit">Signup</button>
</form>
{% endblock main %}
